#title{
  position: absolute;
  top: 25px;
  left: 300px;
}

#top-panel{
  position: absolute;
  top: 2%;
  left: 2%;
  //width: auto;
  height: 100px;

  button{
    background-color: white;
    position: relative;
  }
}

#top-panel-left{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
}

#top-panel-right{
  position: absolute;
  top: 0;
  left: 120px;
  height: 100%;
  width: 120px;
}

#top-panel-centre{
  position: absolute;
  top: 0;
  left: 120px;
  min-height: 98px;
  height: auto;
  width: 0;
  background-color: white;
  border: 1px solid black;
}

#select-euclidean{
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-top-left-radius: 9999px;
}

#select-hyperbolic{
  //top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 9999px;
}

#generate-tiling{
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

#bottom-panel{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  border-top: 3px solid black;
}


@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 5) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    //align-content: stretch;
    margin-left: -$gutter;
    margin-top: -$gutter;

    .flex-item {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;

      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
            min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}

@include n-columns(300px, 0, false, 2);

.flex-container {
  .flex-item {
    background: #e0ddd5;
  }
}

.full-width{
  min-width: 100%;
}

#controls{
  justify-content: space-around;
}

#tesselation-selector{
  //margin-bottom: 2%;
}

.tiling-image{
  width: 100%;
}

#textures{
  //margin-top: 2%;
  width: 100%;
  justify-content: space-around;
}

.texture{
  max-width: 150px;
  max-height: 150px;
}
