@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 5) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin-left: -$gutter;
    margin-top: -$gutter;

    .flex-item {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;

      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
            min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}

@include n-columns(0, 0, false, 2);

.flex-container {
  .flex-item {
    background: #e0ddd5;
    //color: #171e42;
    //box-sizing: border-box;
  }
}

#title{
  min-width: 100%;
  text-align: center;
}

#left-controls{
  margin-right: 2%;
}

#right-controls{
  margin-left: 2%;
}

#tiling-image{
  min-width: 100%;
}
