body{
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	top: 0;
	left: 0;
  background-color: white;
  overflow-x: hidden;
}

h1{
	font-weight: 900;
  color: darkgrey;
  text-align: center;
}

h2,h3{
	font-weight: 700;
  color: darkgrey;
  text-align: center;
}

p{
  color: darkgrey;
  text-align: center;
}

li{
  text-align: left;
  color: darkgrey;
}

input, option, select, button{
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #7F7F7F;
  border: solid #7F7F7F 1px;
  border-radius: 2px;
}

button:hover {
	background-image: linear-gradient(to bottom, #252525, #000000);
}

button.selected {
  background-image: linear-gradient(to bottom, #6fb3c6, #ffffff);
}

button.unavailable {
  //background-image: linear-gradient(to bottom, #000000, #757575);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}
