@import 'universal';


.hide{
	display: none !important;
}

#tiling-image{
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	z-index: -1;
}



#title{
	position: absolute;
	top: 3%;
	left: 5%;
	width: 90%;
	height: auto;
	background-color: black;
	text-align: center;
}

#container{
	position: absolute;
	top: 20%;
	left: 3%;
	width: 94%;
	height: auto;
	min-height: 77%;
	background-color: black;
	border: solid #7F7F7F 1px;
	border-radius: 4px;
  background-color: Transparent;
}

#content{
	position: relative;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;

}

#left-controls{
	position: absolute;
	margin-top: 2%;
  margin-right: 0;
	left: 2%;
	width: auto;
	color: #7F7F7F;
	text-align: right;
}

#right-controls{
	position: absolute;
	margin-top: 2%;
  margin-right: 0;
	right: 2%;
	width: 45%;
	color: #7F7F7F;
	text-align: right;
}

#buttonLeft{
  position: absolute;
  left: 2%;
}
