{
  "extends": "airbnb/base",
  "rules": {
    "no-undef": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "spaced-comment": 0,
    "no-unused-vars": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
  }
}
