body {
  margin: auto;
  background-color: #8d9daa;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#canvas {
  width: 85vmin;
  height: 85vmin;
}

.tile {
  width: 364px;
  height: 364px;
}

.figure-small {
  margin: 0px;
}

#drop-area {
  width: 800px;
  font-size: 0px;
}

#white-tile {
  float: right;
}
