body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; }

/*
canvas{
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	z-index: -1;
}
*/
h1 {
  font-weight: 900;
  color: darkgrey; }

h2, h3 {
  font-weight: 700;
  color: darkgrey;
  text-align: center; }

p {
  color: darkgrey;
  text-align: center; }

li {
  text-align: left;
  color: darkgrey; }

input, option, select, button {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #7F7F7F;
  border: solid #7F7F7F 1px;
  border-radius: 2px; }

button:hover {
  background-image: linear-gradient(to bottom, #252525, #000000); }

::-webkit-scrollbar {
  width: 6px;
  height: 3px; }

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #666;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #666;
  -webkit-border-radius: 6px; }

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: 0;
  margin-top: 0; }
  .flex-container .flex-item {
    -webkit-flex: 1 0 300px;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
    margin-left: 0;
    margin-top: 0; }

.flex-container .flex-item {
  background: #e0ddd5; }

#title {
  min-width: 100%;
  text-align: center; }

#left-controls {
  margin-right: 2%; }

#right-controls {
  margin-left: 2%; }

#tiling-image {
  width: 100%; }

#textures {
  margin-top: 2%;
  min-width: 100%; }

.texture {
  max-width: 300px; }

.hide {
  display: none !important; }
